In [22]:
#Import libraries

import urllib.request
import json
from pprint import pprint
import pandas as pd
import config
import datetime

In [23]:
#Get current timestamp
curTime = (datetime.datetime.now() + datetime.timedelta(hours=5)- datetime.timedelta(minutes=15)).strftime('%Y-%m-%d %H:%M:%S')
print(curTime)
prevTime = (datetime.datetime.now() + datetime.timedelta(hours=5) - datetime.timedelta(minutes=20)).strftime('%Y-%m-%d %H:%M:%S')
print(prevTime)

2020-11-11 16:58:42
2020-11-11 16:53:42

In [24]:
#Specify values

url = "https://webservice.hobolink.com/restv2/data/json"

values = {
  "action": "",
  "authentication": {
    "password": config.password,
    "token": config.token,
    "user": config.username
  },
  "query": {
    "end_date_time": curTime,
    "loggers": [20777720,20699245,1],
    "start_date_time": prevTime
  }
}


headers = {
    "Content-Type": "application/json",
    "Accept": "application/json",
}

In [25]:
#Get data

data = json.dumps(values).encode("utf-8")
#pprint(data)

try:
    req = urllib.request.Request(url, data, headers)
    with urllib.request.urlopen(req) as f:
        res = f.read()
    #pprint(res.decode())
except Exception as e:
    pprint(e)

In [26]:
#Convert response to a pandas dataframe

data = json.loads(res.decode())
df = pd.json_normalize(data['observationList'])
#df.to_csv("data.csv")

In [27]:
#Temperature air North
df.loc[df['sensor_sn'] == "20777735-1"]

#Temperature air South
df.loc[df['sensor_sn'] == "20692768-1"]

,logger_sn,sensor_sn,channel_num,timestamp,data_type,si_value,si_unit,us_value,us_unit,scaled_value,scaled_unit
99,20699245,20692768-1,12,2020-11-11 16:55:00Z,1,19.484015,°C,67.071226,°F,0.0,None

In [20]:
row = df.loc[df['sensor_sn'] == "20777735-1"]
value = row.iloc[0]['si_value']
type(float(value))

float

In [21]:
#Temperature soil North
df.loc[df['sensor_sn'] == "20770089-1"]

#Temperature soil South
df.loc[df['sensor_sn'] == "20684342-1"]

,logger_sn,sensor_sn,channel_num,timestamp,data_type,si_value,si_unit,us_value,us_unit,scaled_value,scaled_unit
1,20699245,20684342-1,11,2020-11-11 16:45:00Z,1,12.991962,°C,55.385531,°F,0.0,None